* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    padding-top: 125px;
}


:root {

    --p-color: #FF4500;
    --s-color: #FFD700;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 0;
    /* background: #282828; */
    overflow-x: hidden;
    --s: 100px;
    --c1: #282828;
    --c2: black;

    --_g:
        var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
        var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
    background:
        radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
        radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
        var(--c1);
    background-size: var(--s) var(--s);
}

.fixed-nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: background-color 0.3s;
}

.scroll-active .fixed-nav {
    background-color: black;
}

.nav-icon {
    background: linear-gradient(45deg, var(--p-color), var(--s-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s, color 0.3s;
    font-size: 2.5rem;
    padding-left: 20px;
}

nav {
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
    white-space: nowrap;
}

nav a:hover {
    background: linear-gradient(45deg, var(--p-color), var(--s-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s, color 0.3s;
}

nav a.current {
    background: linear-gradient(45deg, var(--p-color), var(--s-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s, color 0.3s;
}


.nav-left h1 {
    margin: 0;
    color: white;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
}


h1.highlight-title {
    background: linear-gradient(45deg, var(--p-color), var(--s-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s, color 0.3s;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, var(--p-color), var(--s-color));
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, var(--p-color), var(--s-color));
}


.recipe-data {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.recipe-title {
    font-size: 24px;
    background: linear-gradient(45deg, var(--p-color), var(--s-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s, color 0.3s;
    text-align: center;

}

.basics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: black;
    padding: 40px;
    border-radius: 10px;
    white-space: nowrap;

}

.basics .ingredient-info,
.basics .instruction-info {
    padding: 20px;
    /* border-radius: 10px; */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.recipe-info {
    color: #cccccc;
}

.recipe-ingredients, .recipe-instructions {
    list-style-type: disc;
    padding-left: 20px;
}

.recipe-data {
    color: white;
}


.data-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ingredients {
    flex: 1;
    background-color: black;
    padding: 40px;
    border-radius: 10px;
}

.instructions {
    flex: 2;
    background-color: black;
    border-radius: 10px;
    padding: 40px;
    border-radius: 10px;
}


.ingredients-title,
.instructions-title {
    background: linear-gradient(45deg, var(--p-color), var(--s-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s, color 0.3s;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.basic-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns, each taking up half the row */
    gap: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: black;
    padding: 40px;
    border-radius: 10px;
}

.recipe-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--p-color), var(--s-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s, color 0.3s;
    font-size: 4rem;
    text-align: center;
}




.recipe-img {
    width: 265px;
    height: 265px;
    border-radius: 10px;
    object-fit: cover;
}

.basics p .title {
    background: linear-gradient(45deg, var(--p-color), var(--s-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s, color 0.3s;
}



